*{
  margin: 0px;
}
h4{
  margin: 0px;
}

body{
  background: #fff;
}

nav{
  background: #46619e;
}

.loginPanel{
  padding: 10px;
  width: 400px;
  height: auto;
  background: #fff;
  margin-top: 100px;
}
h4.titleLogin{
  color: #aaa;
  padding: 10px;
  background:
}

a.aa{
  color:#000;
}
